BeautifulSoup==3.2.1
configobj==4.7.2
ecdsa==0.13
Flask==0.10.1
flask-peewee==0.6.7
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.5
MarkupSafe==0.23
micawber==0.3.3
peewee==2.7.4
pygeoip==0.2.7
Pygments==2.0.2
python-magic==0.4.3
Werkzeug==0.11.3
wheel==0.26.0
wtf-peewee==0.2.6
WTForms==2.1
