{% extends "baseRegister.html" %}
{% block content %}

    <header class="intro-header" style="background-image: url('static/img/register-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Register</h1>
                        <hr class="small">
                        <span class="subheading"><a href="/accounts/login" class="dontHavePromptLink">Already have an account? Login.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	<form action="{{ url_for('register') }}" method="post">
    <dl>
      <dt>Username:</dt>
      <dd><input type="text" name="username"></dd>
      <dt>Password:</dt>
      <dd><input type="password" name="password"></dd>
      <dt>Email:</dt>
      <dd><input type="text" name="email">
        <p><small>(used for gravatar)</small></p>
      </dd>
      <dd><input type="submit" value="Register">
    </dl>
  </form>
    <hr>
{% endblock %}
